* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 120px;
    font-family: 'Pretendard', sans-serif
}

.nav {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;

    max-width: 1200px;
    margin: 0 auto;

    padding: 14px 40px;
    border-radius: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* background-color: white; */
    backdrop-filter: blur(8px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.logo {
    color:black;
    font-size: 20px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 24px;
    margin-right: 100px;
}

.menu li {
    padding: 8px 18px;
    color: black;
    
}

.profile {
    max-width: 1200px;
    margin: 50px auto;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-text {
    flex: 1;
}

.profile-image img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
}

.project {
    max-width: 1200px;
    margin: 50px auto;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    flex-direction: column;
    gap: 60px;

    text-align: center;
}

.project-card {
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    background: white;
}

.project-card .project-image {
    flex: 2;
}

.project-card .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.project-card .project-text {
    flex: 1;
    padding: 16px;
    text-align: center;
}

/*
.project-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.project-text {
    flex:1;
    text-align: center;
}

.project-image img {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
    object-position: top;
}
*/

.section-divider {
    border: none;
    height: 2px;
    background-color: rgba(0,0,0,0.1);
    margin: 10px 0;
}
